* {
    overflow-x: hidden;
    overflow-y: scroll;
    
}

.homePage {
  background-color:#3f7f77;
}

.homeImage {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  background: url(./logo.png) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.loginLabels {
  color:#d59f59 !important;
  background-color:rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px !important;
  padding: 5px;
  margin-top: 6px;
}

.headerSlogan {
  color: #d59f59;
  width: 35%;
  padding-left: 25px;
}

.profilePageTag {
  color:#d59f59 !important;
  background-color:rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px !important;
  padding: 5px;
  width: 220px;
}

.profileEditTag {
  color:#d59f59 !important;
  background-color:rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px !important;
  padding: 5px;
  width: 163px;
}

.navBarButtons {
  width: 30%;
  margin-right: 0px;
}

.mixerTitles {
  color:#d59f59;
}

.navBarButtons li {
  display: inline;
  text-align: right;
}

.profileTag {
  color:#d59f59 !important;
  background-color:rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px !important;
  padding: 5px;
  width: 154px;
}

.textArea {
  border: none;
  box-shadow: none;
  text-decoration: none;
}

.Button {
  background-color: #d59f59 !important;
  border-color: #d59f59 !important;
  color: #3f7f77 !important;
}

.Button:hover{
  box-shadow: #e28914;
}

.notLoggedIn {
  color:#d59f59 !important;
  background-color:rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px !important;
  padding: 5px;
}

header {
    top: 0;
    width: 100%;
    height: 8vh;
    background-color: #3f7f77;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: end; */
}

.mixEasy {
  color: #d59f59;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flexbox;
  justify-content: center;
  background: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0);
}

.createDrink {
  background-color: #000000;
  color: #d59f59;
  padding-left: 2rem;
  padding-right: 2rem;
}

.topThree {
  background-color: #000000;
  color: #d59f59;
  padding-left: 2rem;
  padding-right: 2rem;
}

header li {
    display:block;
}


  a {
    text-decoration: none;
    padding: 10px;
    color: white;
  }
  
button {
  border-radius: 10px !important;
  border: 3px solid #d59f59;
  background: #d59f59;
  color: white;
}

.none {
  display: none;
}

.show {
  display: block;
}

.circle {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(112, 112, 112);
  background-color: white;
  text-align: center;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  transition: 0.5s ease;
}

.circle:focus {
  background-color: #9e9d9d;
}