* {
    overflow-x: hidden;
    overflow-y: scroll;
    
}

.homeImage {
  height: 100vh;
  width: 100vw;
  min-height: 100%;
  background: url(./logo.png) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.loginLabels {
  color:#d59f59 !important;
  background-color:rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px !important;
  padding: 5px;
}

.headerSlogan {
  color: #d59f59;
  text-align: left !important;
}

.mixerButton {
  background-color: #d59f59 !important;
  border-color: #d59f59 !important;
  color: #3f7f77 !important;
}

.homeButton {
  background-color: #d59f59 !important;
  border-color: #d59f59 !important;
  color: #3f7f77 !important;
}

.specProfileButton {
  background-color: #d59f59 !important;
  border-color: #d59f59 !important;
  color: #3f7f77 !important;
}

.logOutButton {
  background-color: #d59f59 !important;
  border-color: #d59f59 !important;
  color: #3f7f77 !important;
}

.loginButton {
  background-color: #d59f59 !important;
  border-color: #d59f59 !important;
  color: #3f7f77 !important;
}

.signUpButton {
  background-color: #d59f59 !important;
  border-color: #d59f59 !important;
  color: #3f7f77 !important;
}

.submitLoginButton {
  background-color:#d59f59 !important;
  border-color:#d59f59 !important;
  color:#3f7f77 !important;
}

.submitSignUpButton {
  background-color:#d59f59 !important;
  border-color:#d59f59 !important;
  color:#3f7f77 !important;
}

.notLoggedIn {
  color:#d59f59 !important;
  background-color:rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px !important;
  padding: 5px;
}

/* .formDiv {
  display: flex;
  flex-direction: column;

} */

header {
    top: 0;
    width: 100vw;
    height: 8vh;
    background-color: #3f7f77;
    display: flex;
    align-items: center;
    justify-content: end;
    float: right;
}

.mixEasy {
  color: #d59f59;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flexbox;
  justify-content: center;
  background: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0);
}

.createDrink {
  background-color: #000000;
  color: #d59f59;
  padding-left: 2rem;
  padding-right: 2rem;
}

.topThree {
  background-color: #000000;
  color: #d59f59;
  padding-left: 2rem;
  padding-right: 2rem;
}

header li {
    display:block;
}


  a {
    text-decoration: none;
    padding: 10px;
    color: white;
  }
  
button {
  border-radius: 10px !important;
  border: 3px solid #d59f59;
  background: #d59f59;
  color: white;
}

.none {
  display: none;
}

.show {
  display: block;
}

.circle {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(112, 112, 112);
  background-color: white;
  text-align: center;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  transition: 0.5s ease;
}

.circle:focus {
  background-color: #9e9d9d;
}

